@using Domain.Entities;
@using Infrastructure.UnitOfWorks;
@using RazorPageWebApp.Extensions;
@inject IHttpContextAccessor httpContext
@{
    var username = httpContext.HttpContext?.Session?.GetString(AppConstants.USER_NAME);
    var userID = httpContext.HttpContext?.Session?.GetString(AppConstants.USER_ID);
    var avatar = httpContext.HttpContext?.Session?.GetString(AppConstants.USER_AVATAR);
    //Lam: Ý tưởng rất hay nhưng ko thành công:<
    //var _unitOfWork = httpContext.HttpContext?.Session?.GetEntity<IUnitOfWork>(AppConstants.UNIT_OF_WORK_OBJ);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - GroupStudy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/comment_like.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPageWebApp.styles.css" asp-append-version="true" />
    <link href="
        https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css
        " rel="stylesheet">
</head>
<body>
    <header class="p-2 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a asp-area="" asp-page="/UserScreen/HomePage" class="logo d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    GroupStudy
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/UserScreen/HomePage">Home</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/UserScreen/Community">Community</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-page="/UserScreen/Mygroup">My Group</a></li>
                </ul>

                <form method="get" asp-page="/Groups/Index" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input name="searchValue" id="searchInput" type="search" class="form-control border-1" placeholder="Search..." aria-label="Search">
                </form>
                <!-- Notification -->
                <div id="notifination-container" class="dropdown me-3">
                    <script>
                        //code moved to site.js
                    </script>
                </div>
                <!-- End Notification -->
                <!-- User icon -->
                <div class="dropdown text-end me-5">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@avatar" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li>
                            <a class="dropdown-item text-secondary">
                                Hello, @username
                            </a>
                        </li>
                        <li>
                            <a asp-page="/Groups/Create" class="dropdown-item">Create group</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a asp-page="/Index" asp-page-handler="Logout" class="dropdown-item text-danger">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End user icon -->
            </div>
        </div>
    </header>


    <div>
        @RenderBody()
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top py-3 px-5">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 - Group Study</p>

        @*<a asp-area="" asp-page="/UserScreen/HomePage" class="logo d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        GroupStudy</a>*@

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a asp-page="/UserScreen/HomePage" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/livechat.css" rel="stylesheet" />
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="https://cdn.tiny.cloud/1/wyopdb0u8mweiku159d2tp39m5451adsboem7qcr0jyyixp1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
