
@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    if (Model.UserId != null)
    {
        Layout = "_LayoutUser";
    } else
    {
        Layout = "_LayoutGuest";
    }    
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">Maybe you do not have permission to access this page.</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
