@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <span class="text-success">@Model.Message</span>

    <p>Test authentication methods</p>
    <a asp-page="./Auth/Login" class="btn btn-dark col-md-4 mb-3 btn-outline-light">Login</a>
    <a asp-page="./Auth/Register" class="btn btn-dark col-md-4 mb-3 btn-outline-light">Register</a>
    <a asp-page-handler="CurrentId" class="btn btn-dark col-md-4 mb-3 btn-outline-light">Get Current UserId</a>
    <a asp-page-handler="CurrentUsername" class="btn btn-dark col-md-4 mb-3 btn-outline-light">Get Current UserName</a>
    <a asp-page-handler="Logout" class="btn btn-dark col-md-4 mb-3 btn-outline-light">Log Out</a>
</div>
