@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutGuest";
}

<div class="background-custom d-flex text-center text-white">
    <div class="cover-container mt-5 d-flex w-100 p-3 mx-auto flex-column">
        <main class="my-5 px-3">
            <h1 class="mt-5">Welcome to Group Study!</h1>
            <p class="lead">
                Discover the power of collaborative learning. Join our study group today for a rewarding academic journey. Unlock your potential with us!.
            </p>
            <p class="lead">
                <a asp-page="/Auth/Login" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Learn more</a>
            </p>
        </main>

    </div>
</div>