@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutGuest";
}

<div class="text-center">    
    <h1 class="display-4">Welcome to Group Study!</h1>         
    Cho 1 cái hình background đẹp đẹp to to ở đây nha
    </br>
    rồi cho mấy cái link kiểu: Tham gia cùng chúng tôi, bạn chưa có tài khoản hả? Đăng kí đi... kiểu kiểu vậy
</div>
