@page
@model RazorPageWebApp.Pages.UserScreen.GroupScreenModel
@{
    ViewData["Title"] = "Group";
    Layout = "_LayoutUser";
}
<div class="album py-3 bg-light">
    <div class="container">
        @*tieu de*@
        <div class="d-flex align-self-start fs-3 fw-bold mb-3">Group name</div>
    </div>
</div>
