@page
@model RazorPageWebApp.Pages.Groups.EditModel

@{
    ViewData["Title"] = "Create";
}

<div class="album py-3 ms-3 bg-light">
    <div class="container">
        @*tieu de*@
        <div class="d-flex align-self-start fs-3 fw-bold mb-3">Edit Group</div>

        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Group.Name" class="control-label"></label>
                        <input asp-for="Group.Name" class="form-control" value="@Model.Group.Name"/>
                        <span asp-validation-for="Group.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.Description" class="control-label">Description (optional)</label>
                        <input asp-for="Group.Description" class="form-control" value="@Model.Group.Description"/>
                        <span asp-validation-for="Group.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Group.Visibility" class="control-label"></label>
                        <select asp-for="Group.Visibility" class="form-control" asp-items="ViewBag.Visibility"></select>
                        <span asp-validation-for="Group.Visibility" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Group.ForceApprove" /> @Html.DisplayNameFor(model => model.Group.ForceApprove)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.ApproveAuthority" class="control-label"></label>
                        <select asp-for="Group.ApproveAuthority" class="form-control" asp-items="ViewBag.Authority"></select>
                        <span asp-validation-for="Group.ApproveAuthority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Group.BanAuthority" class="control-label"></label>
                        <select asp-for="Group.BanAuthority" class="form-control" asp-items="ViewBag.Authority"></select>
                        <span asp-validation-for="Group.BanAuthority" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}