* {
    --primary-color: #164B60;
    --sencondary-color: #A2FF86;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.logo {
    color: var(--primary-color) !important;
    padding: 4px 8px;
    border-radius: 10px;
    background: var(--sencondary-color) !important;
    font-family: 'Agency FB';
    font-size: large;
    font-weight: 700
}