@page "/groups/{groupId:guid}/edit/{postId:guid}"
@using Microsoft.AspNetCore.Html;
@model RazorPageWebApp.Pages.Groups.Posts.EditPostModel
@{
}

<section class="row">
    <div class="col-lg-3 border border-dark rounded">
        <div class="card-img p-2 d-flex justify-content-center">
            <img class=" w-50 rounded-circle border border-2 border-dark" src="https://picsum.photos/200/200" />
        </div>
    </div>
    <div class="col-lg-9">
        <form id="form-edit" method="post">
            <span asp-validation-for="Content"></span>
            <textarea name="Content" id="edit-post">@(new HtmlString(@Model.Content))</textarea>
           
        </form>
        <button class="btn-primary btn" form="form-edit">Save</button>
    </div>
</section>
@section Scripts
    {
    <script>
        tinymce.init({
            selector: '#edit-post',
            icons: 'small',
            min_height: 300,
            max_height: 1000,
            toolbar_location: 'bottom',
            plugins: 'lists code table codesample link autoresize',
            toolbar: 'blocks | bold italic underline strikethrough bullist link codesample',
            resize: true,
            menubar: false,
            statusbar: false
        });
    </script>
}