@page "/groups/{groupId:guid}/view/{postId:guid}"
@using Microsoft.AspNetCore.Html;
@model RazorPageWebApp.Pages.Posts.IndexModel
@{
    if (ViewData["OnlyData"] != null)
        Layout = null;
}
<section class="d-flex">
    <div class="col-lg-3 border border-dark rounded">
        <div class="card-img p-2 d-flex justify-content-center">
            <img class=" w-50 rounded-circle border border-2 border-dark" src="https://picsum.photos/200/200" />
        </div>
    </div>
    <div class="col-lg-9 col-auto border border-dark rounded" style="border-left-width:0px">
        <div class="dropdown ms-auto d-flex">
            <button class="btn btn-light ms-auto py-0" type="button" id="drop-down-post-options" data-bs-toggle="dropdown" aria-expanded="false">
                ...
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="drop-down-post-options">
                <li><a class="dropdown-item" href="../edit/@Model.Post?.Id">Edit</a></li>
            </ul>
        </div>
        <div class="w-100 p-2">
            <div class="w-100 view-post">@(new HtmlString(@Model.Content))</div>
        </div>
    </div>
</section>

